<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Search</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detail</li>
  </ol>
</nav>
<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div *ngIf="error">
  Error :(
</div>
<div *ngIf="student" class="px-4">
  <div class="d-flex justify-content-between ">
    <div>
      <h1>{{ student.first }} {{ student.last }}</h1>
      <h4>{{ student.email }}</h4>
    </div>
    <div class="my-auto">
      <h5>GPA:{{ gradeAvg(student.grades) }}</h5>
    </div>
  </div>
  <div class="mt-4 ">
    <h3>Classes</h3>
    <ul class="list-group mt-2 mx-2">
      <li
        *ngFor="let grade of student.grades"
        class="list-group-item d-flex justify-content-between"
      >
        <div>{{ grade.classroom.name }}</div>
        <div>
         <b>{{ grade.grade.toFixed(2) }}</b> 
        </div>
      </li>
    </ul>
  </div>
</div>
